#coluna01 {
    background-color: aquamarine;
    position: absolute;
    top: 120px;
    left: 200px;
    width: 150px;
    height: 100px;
}
#coluna02 {
    background-color: blueviolet;
    position: absolute;
    top: 120px;
    left: 360px;
    width: 150px;
    height: 100px;
}
#coluna03 {
    background-color: brown;
    position: absolute;
    top: 120px;
    left: 40px;
    width: 150px;
    height: 100px;
}
